body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 480px;
  height: 678px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.hide {
  position: fixed;
  top: -1000px;
  left: -1000px;
}